table {
    border-collapse: collapse;
    width: 75%;
    border: 2px solid #00008B; /* Add borders around the table */
   
  }
  
  th{
   background-color:#00008B;
    border: 1px solid #ccc;
  }
  td {
    border: 1px solid #00008B; /* Add borders to table cells */
    padding: 20px;
    text-align: left;
  }
  
  th {
    background-color:#00008B;
    font-family: Arial, sans-serif;
    color: #f5f5f5;
  }